body{
  background-color: #ffeead;
}

/* .homepage {
  text-align: center;
} */

.homepage{
  display:flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #ffcc5c;
  font-size: 20px;
}

a:hover{
  color: #ff6f69;
}
h1{
  color: #ff6f69;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 30px 0 10px;
}

div{
  display: flex;
  align-items:center;
  padding-left: 20px;
  /* justify-content: center; */
}

wrapper > div {
  color: #ffeead;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

/* Grid is set in the parent container. It will make one row of 4 divs */
wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* 3 rows with specific sizes */
  grid-template-rows: 40px 100px 40px;
}


.header, .footer{
  background-color: #88d8b0;
}

.header{
  grid-column: span 12;
}

.footer{
  grid-column: span 12;
}

.menu {
  background-color: #ff6f69;
  grid-column:span 6;
}

.content{
 background-color:#ffcc5c;
 grid-column:span 6;
}

@media screen and (max-width: 480px){
  .header{
    grid-column: span 6;
  }

  .menu{
    grid-row:1;
    grid-column: span 6;
  }

  .content{
    grid-column: span 12;
  }
}