html, body{
  box-sizing: border-box;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size:40px;
  font-weight: 300;
}
.container{
  height:80%;
  display:grid;
  grid-gap:3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 60px auto 40px;
  grid-template-areas: 
    "m h h h h h h h h h h ."
    "m c c c c c c c c c c c"
    "f f f f f f f f f f f ."
}

.header{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #f3a73c;
  color: #528dab;
  grid-area: h;
}

.menu{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #fecc47;
  color: #528dab;
  grid-area: m;
}

.content{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color:#ebd5e0;
  color: #528dab;
  grid-area: c;
}

.footer{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #546147;
  color: azure;
  grid-area: f;
}